#row {
  margin: 0 auto;
  margin-top: 45vh;
}


.App {
  text-align: center;
  height: 100%;
  margin: 0;
  background: transparent;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.load-container {
  width: 100%;
  height: 100%;
}

.load-wrapper {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 50vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-fluid {
  max-width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 1;
}
.bg {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('https://media2.fdncms.com/chicago/imager/u/original/27089989/best_fancy_restaurant-girl_and_the_goat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: brightness(.5);
    -moz-filter: brightness(.5);
    -o-filter: brightness(.5);
    -ms-filter: brightness(.5);
    filter: brightness(.5);
    width: 100%;
    height: 100vh;
  
}

.restaurant-card {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 30vh;
  box-shadow: 5px 5px 5px black;
}

.btn {
  box-shadow: 3px 3px 5px #2f3d41;
}

/*appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 900ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 50900ms linear 50000ms;
}

/* exit */
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 50000ms linear;
}
.fade-exit-done {
  opacity: 0;
}
